.header-list__logo{
 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $primary-bg-color;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    }
    
    .logo-part{
    Font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $title-text-color;
    text-decoration: none;
    }